*.jpg
*.tiff
*.eps
*.pdf
*.treefile
*.xlsx
*.bak*
*.log
*.trees
~$*
keys.env
QC/
trees/
treefiles/
metadata/
alignments/
API_NCBI/
R_scripts/old
Python_scripts/Old
raw_data/
supplementary/
.Rhistory
.RData
.ipynb_checkpoints/
amas_statistics/