*.jpg
*.tiff
*.eps
*.pdf
*.treefile
*.xlsx
*.bak*
*.log
*.trees
~$*
keys.env
QC_and_visualization_metadata/
trees/
treefiles/
alignments/
API_NCBI/
R_scripts/old
Python_scripts/Old
raw_data/
.Rhistory
.RData
.ipynb_checkpoints/
amas_statistics/
supplementary_data_paper/
fragments_MAfft/
old/
sync.ffs_db